.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 261px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -4px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 4px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 258px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 24px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 20px 222px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 273px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  width: 198px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 35px;
  min-height: 16px;
  width: 202px;
  min-width: 124px;
  margin: 29px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 203px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 467px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: 70px;
  }

  .u-section-1 .u-text-11 {
    width: 70px;
    margin-right: 193px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 250px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 156px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 135px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 34px;
    width: 197px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 236px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 295%;
    left: -97%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 205px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 390%;
    left: -145%;
  }
}